@import '../../scss/mixins';

.page__home {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}

.page__header {
  padding: 10px 0;
}

.page__title {
  margin: 0 auto 10px;
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center center;
  @include back-image(contain, center, center);
  height: 0;
  overflow: hidden;
  padding-top: 100px;
  width: 80vw;
}
